<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433234402905-55ublt0u1qt8pjoio777p5qp779vemf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433234402905-55ublt0u1qt8pjoio777p5qp779vemf8</string>
	<key>API_KEY</key>
	<string>AIzaSyCNTRv2T1RqffO3sWA9jSJ8HNIoLkzoNuE</string>
	<key>GCM_SENDER_ID</key>
	<string>433234402905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sudarlife.bookreview</string>
	<key>PROJECT_ID</key>
	<string>bookreview-app-sample-5c098</string>
	<key>STORAGE_BUCKET</key>
	<string>bookreview-app-sample-5c098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433234402905:ios:0d99603eca594935cd5b48</string>
</dict>
</plist>